.main {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dbc0ff;
}

h1{
    color: #15042d;
}

.button {
    background-color: #15042d;
    border: 1px solid #15042d;
    margin: 2px;
}