.cart {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background-color: #dbc0ff;
}

.form-cart {
    display: flex;
    flex-direction: column;
    background-color: #8f3bfd62;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.form-cart input {
    margin: 5px;
    border: 1px solid #dbc0ff;
    border-radius: 5px;
}

.modal-content {
    color: #dbc0ff !important;
    background-color: #15042d !important;
}

.form-control:focus {
    border-color: #8f3bfd62 !important;
    box-shadow: 0 0 0 0.25rem #8f3bfd62 !important;
}