.imgCart {
    width: 17px; 
}

div{
    color: white;
}

a {
    text-decoration: none !important;
}

.total {
    background-color: white;
    color: #15042d;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}