.nav-bar {
  width: 30rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-offcanvas {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: start;
}

.nav-bar-burger {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  background-color: #15042d;
}

.btn-close {
  background: transparent url(/public/images/closeBtn.png) center/1em auto no-repeat !important;
  opacity: 1;
}

.navbar-toggler-icon {
    background-image: url(/public/images/burgerNavBar.png) !important;
  }
  
  .navbar-toggler:focus {
    outline: 0;
    border-color: #dbc0ff;
  }

.order-nav{
    order: 0;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
  background-color: #15042d;
  color: #dbc0ff !important;
}
.offcanvas-title {
  color: #dbc0ff;
}

.categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  text-decoration: none;
}

.categorias li {
  margin-left: 20px;
}

.logo {
  width: 100px;
}

.active {
  color: white;
}

.inactive {
  color: #dbc0ff;
}

a:hover {
  color: white !important;
}

@media (max-width: 991px)
{
  .order-nav {
    order: -1;
}
.nav-bar{
  display: none;
}
}
