.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #15042d;
    justify-content: space-around;
    align-items: center;
}

.categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    text-decoration: none;
}

.categorias li {
    margin-left: 20px;
}

.logo{
    width: 100px;
}

.active {
    color: white;
}

.inactive {
    color: #dbc0ff;
}

a:hover {
    color: white !important;
  }
