body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dbc0ff;
  overflow-x: hidden;
}

.content-wrap {
  flex: 1;
}
